*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
     background-color: yellowgreen;
     background-image: linear-gradient(to right, yellow, #ffffffa5);
     display: flex;
     align-items: center;
     justify-content: center;
}
#panel{
    overflow: hidden;
    height: 80%;
    width: 80%;
   border-radius: 10px;
    background-color: #fff;
}
#ptop{
    padding: 0px 30%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #fff;
    height: 100px;
    width: 100%;
    background-color: #bdbf47be;
}
.elem{
    display: flex;
   align-items: center;
   gap: 20px;
}
.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    color: #000000e7;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

#pbtm {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height:calc(100% - 100px);
}
.bubble{display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #edce04;
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}
.bubble:hover{
    cursor: pointer;
    background-color: #bdbf47be;
}